

.jumbotron{

    background-image: linear-gradient(to right, red , yellow);
    height: 100px;
   
    padding-top: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
}
img {

    border-radius: 1%;
}
.table1 {
    margin-bottom: 10px;
}
body {

    background-image: linear-gradient(to right, lightgray , lightblue);
}