<div id="content_wrapper" class="boxedlayout1-wrapper">
    <div class="content">
        <div class="header-wrapper header-sm">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <header>
                            <h1>Form Stepper</h1>
                        </header>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-block">
													<button class="btn btn-default btn-flat" (click)="isLinear = true" id="toggle-linear">Enable linear mode</button>
													<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
														<mat-step [stepControl]="firstFormGroup">
															<form [formGroup]="firstFormGroup">
																<ng-template matStepLabel>Fill out your name</ng-template>
																<mat-form-field>
																	<input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
																</mat-form-field>
																<div>
																	<button class="btn btn-accent" matStepperNext>Next</button>
																</div>
															</form>
														</mat-step>
														<mat-step [stepControl]="secondFormGroup">
															<form [formGroup]="secondFormGroup">
																<ng-template matStepLabel>Fill out your address</ng-template>
																<mat-form-field>
																	<input matInput placeholder="Address" formControlName="secondCtrl" required>
																</mat-form-field>
																<div>
																	<button class="btn btn-default btn-flat" matStepperPrevious>Back</button>
																	<button class="btn btn-accent" matStepperNext>Next</button>
																</div>
															</form>
														</mat-step>
														<mat-step>
															<ng-template matStepLabel>Done</ng-template>
															You are now done.
															<div>
																<button class="btn btn-default btn-flat"  matStepperPrevious>Back</button>
																<button class="btn btn-accent" (click)="stepper.reset()">Reset</button>
															</div>
														</mat-step>
													</mat-horizontal-stepper>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>
