
<div id="content_wrapper" class="fullWidth1-wrapper">
	<div class="content">
		<header class="header-wrapper header-sm">
			<h1>Form Components</h1>
		</header>
<div class="col-xl">
  <div class="card">
    <header class="card-header">
      <h2 class="card-title">Inputs with icon prefixes</h2>
    </header>
    <div class="card-block">
      <form class="form-horizontal">
        <div class="form-group row">
          <div class="col-xl">
            <mat-input-container floatPlaceholder="never" class="float-never">
              <input matInput placeholder="Accident_type">
              <mat-icon matPrefix>account_box</mat-icon>
            </mat-input-container>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xl">
            <mat-input-container floatPlaceholder="never" class="float-never">
              <input matInput placeholder="Additional_info">
              <mat-icon matPrefix>account_box</mat-icon>
            </mat-input-container>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xl">
            <mat-input-container floatPlaceholder="never" class="float-never">
              <input matInput placeholder="Address_location">
              <mat-icon matPrefix>account_box</mat-icon>
            </mat-input-container>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xl">
            <mat-input-container floatPlaceholder="never" class="float-never">
              <input matInput placeholder="City">
              <mat-icon matPrefix>account_box</mat-icon>
            </mat-input-container>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xl">
            <mat-input-container floatPlaceholder="never" class="float-never">
              <input matInput placeholder="date_created">
              <mat-icon matPrefix>account_box</mat-icon>
            </mat-input-container>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xl">
            <mat-input-container floatPlaceholder="never" class="float-never">
              <input matInput placeholder="Date of accident">
              <mat-icon matPrefix>account_box</mat-icon>
            </mat-input-container>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xl">
            <mat-input-container floatPlaceholder="never" class="float-never">
              <input matInput placeholder="Full Name">
              <mat-icon matPrefix>account_box</mat-icon>
            </mat-input-container>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xl">
            <mat-input-container floatPlaceholder="never" class="float-never">
              <input matInput placeholder="Email Address">
              <mat-icon matPrefix>email</mat-icon>
              
            </mat-input-container>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xl">
            <mat-input-container floatPlaceholder="never" class="float-never">
              <input matInput placeholder="Phone Number">
              <mat-icon matPrefix>phone</mat-icon>
              
            </mat-input-container>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xl">
            <mat-input-container floatPlaceholder="never" class="float-never">
              <input matInput placeholder="Home Address">
              <mat-icon matPrefix>room</mat-icon>
            </mat-input-container>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer text-right">
      <a href="javascript:void(0)" mat-ripple class="btn btn-accent btn-flat">Cancel</a>
      <button mat-ripple class="btn btn-accent">Submit</button>
    </div>
  </div>
</div>
</div>
</div>

